#rocket {
    height:auto;
    width:4vw;
    z-index:10;
    margin-top: .5%;
    margin-left: 3vw;
}

#sun {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 45%;
    width: 10%;
    height: auto;
}

#solar-body {
    height:100vh;
    background-color: brown;
    width:100vw
}

#mercury {
    width: 2vw;
    height: auto;
    margin-top: 1.5%;
    margin-left: 11.5vw;
}

#venus {
    width: 2.5vw;
    height: auto;
    margin-top: 1.25%;
    margin-left: 20.5vw;
}
#earth {
    width: 2.5vw;
    height: auto;
    margin-top: 1.25%;
    margin-left: 31vw;
}

#mars {
    width: 2vw;
    height: auto;
    margin-top: 1.5%;
    margin-left: 40.2vw;
}

#jupiter {
    width: 4vw;
    height: auto;
    margin-top: .5%;
    margin-left: 51vw;
}

#saturn {
    width: 3vw;
    height: auto;
    margin-top: .9%;
    margin-left: 63.2vw;
}

#uranus {
    width: 3vw;
    height: auto;
    margin-top: .9%;
    margin-left: 74vw;
}

#neptune {
    width: 3vw;
    height: auto;
    margin-top: .9%;
    margin-left: 85vw;
}

#kuiper {
    width: 3vw;
    height: 5vw;
    margin-top: 0;
    margin-left: 97vw;
}